.video-container {
  position: relative;
  line-height: 0;
  width: 100%;
  height: 80.5vh;
}
.video-container video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative!important;
}
.video-container .video-description {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  opacity: 1;
  width: 79%;
  height: auto;
  padding: 50px 50px 52px 50px;
  margin: auto;
  left: 5%;
  right: 5%;
  z-index: 100;
}
.video-container h1 {
  display: inline;
}
.typed-cursor {
  opacity: 1;
  color: #000000;
  font-size: 42px;
  display: inline;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .video-container .video-description {
    min-height: 100px;
    padding: 12px 15px;
    width: 97%;
    left: 1%;
    right: 1%;
  }
  .video-container .keyboard-text {
    font-weight: 500;
    line-height: 1;
  }
  .typed-cursor {
    font-size: 36px;
  }
}
