{{ attach_library('video_type_text/video-text') }}

<div class="video-container">
  <div class="video-description">
    <div id="container-video-description"><p>{{ content.body.0 }}</p></div>
      <h1 class="text-color-dark video-content-description"></h1>
  </div>
  <video data-object-fit="cover" data-object-position="top left" loop autoplay muted width="100%" height="100%" alt="sample video">
    <source src="{{ file_url(content.field_video_file['#items'].entity.uri.value) }}">
    Your browser does not support HTML5 video.
  </video>
  <div class="clearfix"></div>
</div>